/* -- about page css  -- */
.feature-list{
    width: 100%;
    max-width: 800px;
    align-items: center;
    margin: 2rem auto 0;
    padding: 20px;
}

.feature {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-image {
    width: 50%;
}
  
.feature-description {
    width: 40%;
}

.feature-list-de{
    margin-top: 3rem;
}

h1{
    padding: 0.8rem 0 0.4rem;
}
h4{
    padding: 1rem 0 0.8rem;
}

.footer img{
    margin-top: 1rem;
    max-width: 30%;

}

.footer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .feature {
      flex-direction: column-reverse;
    }
  
    .feature-image {
      width: 100%;
    }
  
    .feature-description {
      width: 100%;
    }
}


  
    .flexbox-container{
        grid-template-columns: 1fr;
    }


