@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@200;400;500;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .075rem;
  }
  
  html{
    min-height: 100vh;
  }
  
  body {
    margin: 0;
    margin-left: 250px;
    --primary:       #7F929C;
    --secondary:     #f7f7f7;
    --meta:          lighten(#555e69, 25%);
    --border:        #dfe0e2;
    --bg:            lighten(#555e69, 60%);
    --accent-orange: #e16758;
    font-family: 'Cabin', sans-serif;
    color: #7F929C;
  }
/*
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px 0 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
*/

/* -- main -- */
.container{
  display: relative;
  column-count: 3;
  padding: 10px;
  margin-top: 30px;
}

  .image-box{
    display: inline-block;  
    overflow: hidden;
    position: relative;
  } 
  .image-box .test {
    width: 100%;
    padding-bottom: 0.72%;
  }

  .image-box img{
    position: relative;
    object-fit: cover;
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }

/* defalt for photo gallery items */
.bg{
    transition: 500ms ease all;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
}

.content{
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms ease all;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.content p:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 4px
}

.bg:hover{
    background-color: rgba(248, 248, 248, 0.5)
}

.content:hover{
    opacity: 1;
}

.title{
  color: #656464;
  text-decoration: none;
}

.title:hover{
  color: #462823;
  text-decoration: none;
}



/* header sidebar menu */
#navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--primary);
  padding: 30px 20px; /* top&b, l&R*/
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-right: 1px solid var(--border);
}

.logo img{
  width: 8rem;
}

.nav-items{
  padding-inline: 0;
}

.nav-items > li{
  list-style-type: none;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.nav-items > li:hover{
  cursor: pointer;
  transform: scle(1.01);
}

.nav-items > li #last-nav-item{
  border-bottom: 1px sold var(--border);
}

.menu-item{
  border-top: 1px solid var(--border);
  padding: 0.5em 0;
}

.menu-item:not(.menu-button):last-child{
  border-bottom: 1px solid var(--border);
}

a{
  text-decoration: none;
  color: var(--primary);
  background-color: transparent;
}

a:hover{
  color: var(--accent-orange);
}

#current a:link, #current a:visited{
  color: var(--accent-orange);
}

#btn-contact button{
  background-color: #e16758;
  border: 2px solid var(--accent-orange);
  border-radius: 30px;
  box-sizing: border-box;
  color: var(--secondary);
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0.8rem 2rem;
  text-align: center;
  margin: 1rem 1rem 3rem;
  text-transform: uppercase;
  transition: .3s ease;
}

#btn-contact button:hover{
  transition: 0.2s;
  background-color: #e16758;
  color: #e9ebed;
  box-shadow:0 0 3px 0.4rem rgba(225, 103, 88, 0.2);
  border: 2px solid #e16758;
  cursor: pointer;
}

#btn-contact a{
  background-color: #e16758;
  color: var(--secondary);
  border: none;
}


.social-links{
  margin: 1.5rem 0;
}

.social-links a .iconify{
  padding: 8px;  
  font-size: 18px;
  width:40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  margin:2px;
  border: 1px solid #e9ebed;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
}

 a:hover .iconify{
  transition: 0.2s;
  background-color: #e16758;
  color: #e9ebed;
  box-shadow:0 0 1px 0.3rem rgba(225, 103, 88, 0.2);
  border: 1px solid #e16758;
  cursor: pointer;
}

.copyright{
  font-size: 0.8rem;
}

#hamburgerBtn{
  position: fixed;
  top: 15px;
  right: 30px;
  display: none;
  z-index: 10;
}

#hamburgerBtn:hover{
  cursor: pointer;
}


  
  /* responsive */
  
  @media only screen and (min-width: 801px) and (max-width: 1024px) {
    .container{
      column-count: 2;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 800px) {
    .container{
      column-count: 1;
      align-items: center;
    }
  }

  @media only screen and (max-width: 600px) {
    body{
      margin-left: 0;
    }

    .container{
      margin-top: 40px;
    }

    #hamburgerBtn{
      display: inline-block;
    }

    #navbar{
      width: 100vw;
      transform: translateX(-1000px);
      transition: transform 480ms;
      background-color: #fff;
    }

    #navbar.open{
      transform: translateX(0);
    }
  }